<%= form_with model: category do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% category.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <p>
    <%= form.submit %>
    <% if category.id.nil? %>
      <%= link_to "Cancel", categories_path %>
    <% else %>
      <%= link_to "Cancel", category_path(id: category.id) %>
    <% end %>
  </p>
<% end %>