<h1>Categories</h1>

<%= form_with url: categories_path, method: :get do |form| %>
  <%= form.text_field :search_text, value: params[:search_text], placeholder: 'Enter search term...' %>
  <%= form.submit "Search" %>
<% end %>

<ul>
<% unless @categories.nil? %>
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.name, category %>
    </li>
  <% end %>
<% end %>
</ul>

<%= link_to "New Category", new_category_path %>
