<%= form_with model: tool do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% tool.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
    <%= form.collection_select :category_id, @categories, :id, :name, :include_blank => true %>
  </div>
  <p>
    <%= form.submit %>
    <% if tool.id.nil? %>
      <%= link_to "Cancel", tools_path %>
    <% else %>
      <%= link_to "Cancel", tool_path(id: tool.id) %>
    <% end %>
  </p>
<% end %>